:root {
    --main-radius: 10px;
    --main-padding: 5px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;  
  }
  
  .container {
    display: grid;
    padding-top: 1rem;
    /*grid-template-columns:250px 500px 250px;
    grid-template-rows:50px 20px 60px 250px 250px ;;
    grid-template-areas:
      "nav nav  nav"
      "content6 content6  content6"
      "content5 content5 content5"
      "content1 main  content2"
      "content3 main content4";
     */
     padding-left: 10%;
     padding-right: 10%;
     grid-template-columns:  1fr 2fr 1fr;
     grid-template-rows:  0.25fr 0.30fr 1.6fr 1.6fr;
     grid-template-areas:
      "nav nav  nav "
      "content5 content5 content5"
      "content1 main content2"
      "content3 main content4";
    grid-gap: 1rem;
    font-weight: 800;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    justify-content: center;
  }
  
  nav {
    background: white;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: 2px
    
  }

.Search-icon{
    
    margin-top:10px;    

}
.Company-Logo{
   padding-left: 10px;
}
.Nav-icon{
 padding-top: 7px;
 padding-left: 5px;
}
.down-arrow{
    margin-left: 50px;
    margin-top: -27px;
    
}
.down-arrow1{
    margin-left: 60px;
    margin-top: -27px;
        
}
.down-arrow2{
    margin-left: 60px;
    margin-top: -27px;
       
}
  
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
  }
  
  nav li {
    float: left;
  }
  
 nav li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }
  .items{
    grid-area: items;
    display: grid;
    padding: 5PX;
    margin-bottom: -60px;
    grid-template-columns: 14% 59%;
    grid-template-rows: 32% 21%;
    grid-template-areas:
      "img h3"
      "img h6"
   
}

.items h3 {
       grid-area: h3;
       text-align: left;
       margin-left:40%;
       font-size: medium;
       color: black;
  }
  .items img {
       grid-area: img;
       border-radius: 50%;
       margin-top: 10px;
       margin-left: 5px;
  }
  .items h6 {
       grid-area: h6;
       text-align: left;
       margin-left: 40%;
       color: grey;
       font-size: small;
      }
      .content7, .bluebox ,.Mobile-contents{display: none;}
  main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("/woman-g6fd0fb37e_640.jpg");
    background-color: #cccccc; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
   .text{
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
  }
  .text .cat1{
    padding-top: 2px;
    color: white;
    padding-bottom: 2px;
    background-color: purple;
    padding-left: 6px;
    width: 63px;
    font-size: 16px;
    border-radius: 9px;
    margin-bottom: 11px;
  }
  .text .dialog1{
    color: white;
    margin-left: 3px;
    font-size: 31px;
  }
  .text .time1{
    color: white;
    margin-left: 7px;
    margin-top: -17px;
  }
  
  
  #content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("/woman-g9beb0c17a_640.jpg");
    background-color: #cccccc; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .text2{
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-align: left;
    }
    .text2 .cat2{
        padding-top: 2px;
        color: white;
        padding-bottom: 2px;
        background-color: purple;
        padding-left: 6px;
        width: 57px;
        font-size: 14px;
        border-radius: 9px;
        margin-bottom: 11px;
    }
    .text2 .dialog2{
        color: white;
        margin-left: 4px;
        font-size: 19px;
    }
    
    .text2 .time2{
        color: white;
        margin-left: 5px;
        margin-top: -14px;
    }
  
  #content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("/smart-watch-g45f5eaee0_640.jpg");
    background-color: #cccccc; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text2 .cat3{
    padding-top: 2px;
    color: white;
    padding-bottom: 2px;
    background-color:orangered;
    padding-left: 6px;
    width: 40px;
    font-size: 14px;
    border-radius: 9px;
    margin-bottom: 11px;
}
.text2 .cat4{
    padding-top: 2px;
    color: white;
    padding-bottom: 2px;
    background-color:rgb(0, 255, 251);
    padding-left: 6px;
    width: 40px;
    font-size: 14px;
    border-radius: 9px;
    margin-bottom: 11px;
}
.text2 .cat5{
    padding-top: 2px;
    color: white;
    padding-bottom: 2px;
    background-color:red;
    padding-left: 6px;
    width: 49px;
    font-size: 14px;
    border-radius: 9px;
    margin-bottom: 11px;
}
  #content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("/apple-gf8e92c703_640.jpg");
    background-color: #cccccc; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content4 {
    background: #73ffba;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background-image: url("/beach-g600b8e5ab_640.jpg");
    background-color: #cccccc; 
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content5 {
    margin-top:30px;
    background: white;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    height: inherit;
    padding-bottom: 5px;
    }
  .space{
    background: white;
    grid-area: space;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: none;
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
 
 @media only screen and (max-width: 640px) {
    nav  li a{
        display: none;
    }
    .items{
        display: none;
    }
    .down-arrow, .down-arrow1 , .down-arrow2{display: none;}
    
    #content1 , #content2 , #content3 ,#content4{
        display: none;
    }
    .bluebox{
        grid-area: bluebox;
        display: flex;
        background-color: #c1f8e7;
        padding: 5px;
        border-radius: 10px;
    }
    .bluebox img{
        border-radius: 50%;
    }
    .bluebox h3{
        font-size: 10px;
        margin-left: 5px;
    }
    .container{
        padding-left: 5%;
        padding-right: 0;
        grid-template-columns:  1fr 2fr 1fr;
        grid-template-rows:  0.25fr 0.10fr 0.30fr 2fr 1fr ;
        grid-template-areas:
         "nav nav  nav "
         "bluebox bluebox bluebox"
         "content7 content7 content7"
         "main main main"
         "main main main"
         "Mobile-contents Mobile-contents Mobile-contents";
       grid-gap: 1rem;
     
    } 
    .content7{
        grid-area: content7;
        display :grid;
        background-color: white;
        border-radius: 10px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% 70%;
        
        grid-template-areas: 
        "i1 d1"
        "i1 sd";
    }
    .i1{margin-left: 5px;
        grid-area: i1;
        margin-top:5px;
        border-radius: 50%;
    }
    .d1{
        grid-area:d1 ;
        font-size: 15px;
        text-align: left;
        color: black;
    }
    .sd{text-align: left;
        grid-area:sd ;
        margin-top: 20px;
        color: #cccccc;
        font-size: xx-small;
    
    }
    .Mobile-contents{
        grid-area: Mobile-contents;
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .CM1 ,.CM2,.CM3 , .CM4{display :grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        "i h6"
        "i d";
    }
    .CM1 .d ,.CM2 .d,.CM3 .d,.CM4 .d{
         grid-area: d;
         text-align: left;
         margin-left: 20;
         margin-top: -5%;
         font-size: 20px;
         color: black;
    }
    .CM1 .i ,.CM2 .i,.CM3 .i,.CM4 .i{
        grid-area: i;
        margin-top: 5px;
        border-radius: 20%;
        margin-left: 5px;
   }
   .CM1 .t1 ,.CM2 .t2,.CM3 .t3,.CM4 .t4{
    grid-area: h6;
    text-align: left;
    margin-left: 20%;
    margin-top: 1%;
    height: 10px;
    background-color:#e4f8f3;
}
.CM1 .t1 {width: 30px;color: purple;}.CM2 .t2{width: 25px; color: orangered;}.CM3 .t3{width: 25px;color: #0ff883;}.CM4 .t4{width: 28px;color: red;}
}
@media only screen and (max-width: 400px) {
    nav  li a{
        display: none;
    }
    .items{
        display: none;
    }
    
    #content1 , #content2 , #content3 ,#content4{
        display: none;
    }
    .bluebox{
        grid-area: bluebox;
        display: flex;
        background-color: #c1f8e7;
        padding: 5px;
        border-radius: 10px;
    }
    .bluebox img{
        border-radius: 50%;
    }
    .bluebox h3{
        font-size: 10px;
        margin-left: 5px;
    }
    .container{
        padding-left: 8%;
        padding-right:0px;
        grid-template-columns:  1fr 2fr 1fr;
        grid-template-rows:  0.25fr 0.10fr 0.30fr 2fr 1fr ;
        grid-template-areas:
         "nav nav  nav "
         "bluebox bluebox bluebox"
         "content7 content7 content7"
         "main main main"
         "main main main"
         "Mobile-contents Mobile-contents Mobile-contents";
       grid-gap: 1rem;
     
    } 
    .content7{
        grid-area: content7;
        display :grid;
        background-color: white;
        border-radius: 10px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% 70%;
        
        grid-template-areas: 
        "i1 d1"
        "i1 sd";
    }
    .i1{margin-left: 5px;
        grid-area: i1;
        margin-top:5px;
        border-radius: 50%;
    }
    .d1{
        grid-area:d1 ;
        font-size: 15px;
        text-align: left;
    }
    .sd{text-align: left;
        grid-area:sd ;
        margin-top: 20px;
        color: #cccccc;
        font-size: xx-small;
    
    }
    .Mobile-contents{
        grid-area: Mobile-contents;
        display: flex;
        flex-direction: column;
        
        padding: 2px;
    }
    .CM1 ,.CM2,.CM3 , .CM4{display :grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 30% 70%;
        grid-template-areas: 
        "i h6"
        "i d";
    }
    .CM1 .d ,.CM2 .d,.CM3 .d,.CM4 .d{
         grid-area: d;
         text-align: left;
         margin-left: -20%;
         margin-top: -5%;
         font-size: 20px;
         color: black;
    }
    .CM1 .i ,.CM2 .i,.CM3 .i,.CM4 .i{
        grid-area: i;
        margin-top: 5px;
        border-radius: 20%;
   }
   .CM1 .t1 ,.CM2 .t2,.CM3 .t3,.CM4 .t4{
    grid-area: h6;
    text-align: left;
    margin-left: -20%;
    margin-top: 1%;
    height: 10px;
    background-color:#e4f8f3;
}
.CM1 .t1 {width: 30px;color: purple;}.CM2 .t2{width: 25px; color: orangered;}.CM3 .t3{width: 25px;color: #0ff883;}.CM4 .t4{width: 28px;color: red;}
}